body {
  background-color: #e6e6e6;
}

.container {
  width: 300px;
  height: 200px;
  background-color: #9100bd;
  text-align: center;

  h1 {
    font-size: 26px;
    color: #092c2c;
  }
}

.main-carousel {
  width: 550px;
  margin-left: 50px;
}

.slick-prev:before,
.slick-next:before {
  color: #141313!important;
}